@import url('https://fonts.googleapis.com/css2?family=Anton&family=Asap&family=Black+Han+Sans&family=Faster+One&family=Inter&family=Lexend+Deca:wght@600&family=Manrope&family=Nosifer&family=Orienta&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,900&family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.testimonial-container{
    background-color: #476ce4;
    color: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    height: 350px;
    position: relative;
}

.progress-barr{
    background-color: #fff;
    width: 100%;
    height: 5px;
    animation: grow 6s linear infinite;
    transform-origin: center;
    margin: 10px 0;
}

@keyframes grow{
    0%{
        transform: scaleX(0);
    }
}

.fa-quote{
    color: #fff;
    font-size: 30px;
    position: absolute; 
    top: 70px;
}

.fa-quote-right{
    left: 40px;
}

.fa-quote-left{
    right: 40px;
}

.testimonial{
    line-height: 30px;
    text-align: justify;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px
}

.user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.user-details{
    margin-left: 20px;
}

